* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 80vh;
  min-width: 100vh;
  background-color: #732d2d;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 8%;
  width: 78vh;
  padding-bottom: 6vh;
  border-radius: 10vh;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  height: 9vmax;
  min-width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-dollar-sign {
  display: flex;
}

.finalcurrency {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.Amount {
  height: 5vmin;
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

#inputplaceholder {
  padding: 0.4vmin;
}

.amount input {
  font-size: rem;
  padding: 0.2em 0.5em;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAF8F8;
  height: fit-content;
  width: fit-content;
  border-radius: 6px;
  padding: 0.4vh;
}

.CountryDropdown {
  height: fit-content;
  width: fit-content;
  border-radius: 150px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.794);
}

.FromImage,
.toImage {
  height: 5vmin;
  width: 5vmin;
}

.inputplaceholder {
  width: 12vh;
  color: rgb(255, 255, 255);
  background: transparent;
  border-color: rgba(255, 255, 255, 0.925);
  border-radius: 10px;
}


.inputplaceholder::placeholder {
  color: rgb(175, 162, 162);
  opacity: 1;
}

/* Hide arrows in Chrome, Safari, Edge, Opera */
.hideArrow::-webkit-outer-spin-button,
.hideArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hideArrow {
  cursor: not-allowed;
  pointer-events: none;
}


.toDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.fa-right-left {
  transition: transform 0.4s;
}



